<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"><style>body {
  font-family: "Sofia", sans-serif;
}

:root {
  --gray: #3a3a3a;
  --white: #ffffff;
  --red: #800707;
  --mint: #86c98f;
  --navy: #2b3483;
  --primary: var(--gray);
  --button: var(--white);
  --card: var(--navy);
}

body {
  background-color: var(--primary);
}

.light {
  --primary: var(--white);
  --card: var(--mint);
}

.dark {
  --primary: var(--gray);
  --card: var(--navy);
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
}

.card {
  height: 50vh;
  width: 20%;
  margin: 5%;
  display: flex;
  background-color: var(--card);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 10px;
}

.card-title {
  font-size: 2.2rem;
  margin-top: 15px;
}

.card-price {
  font-size: 1.8rem;
  padding: 20px;
  text-align: center;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.themeButton,
.button {
  background-color: var(--button);
  text-align: center;
  font-size: 1.3rem;
  margin: 10px;
}

.card-img {
  max-height: 60%;
  max-width: 100%;
}

.title {
  text-align: center;
  font-size: 3.5rem;
}