<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"><style>body {
  font-family: "Sofia", sans-serif;
}

:root {
  --gray: #3a3a3a;
  --blind: #ffffff;
  --rage: #800707;
  --primary: var(--gray);
  --button: var(--blind);
}

body {
  background-color: var(--primary);
}

.light {
  --primary: var(--blind);
}

.dark {
  --primary: var(--gray);
}

.rage {
  --primary: var(--rage);

}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
}

.card {
  height: 50vh;
  width: 20%;
  margin: 5%;
  display: flex;
  background-color: rgb(131, 12, 101);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 1);
}

.card-title {
  font-size: 2.2rem;
  margin-top: 15px;
}

.card-price {
  font-size: 1.8rem;
  padding: 20px;
  text-align: center;
}

#hover1:hover {
  opacity: 0.5;
}

button {
  height: 50px;
  width: 100px;
  background-color: var(--button);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}