:root {
  --gray: #3a3a3a;
  --blind: #ffffff;
  --primary: var(--gray);
}

body {
  background-color: var(--primary);
}

.light {
  --primary: var(--blind);
}

.dark {
  --primary: var(--gray);
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(150, 153, 157);
}

.card {
  height: 50vh;
  width: 24%;
  margin: 2.5rem 0;
  display: flex;
  background-color: rgb(220, 219, 153);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 1);
}

.card-title {
  font-size: 2.2rem;
  margin-top: 15px;
}

.card-price {
  font-size: 1.8rem;
  padding: 20px;
  text-align: center;
}